<nav class="navbar navbar-default">
    <div style="margin-left: 27em;">
      <ul class="nav navbar-nav">
      </ul>
      <div style="margin-right: 12px;">
      <ul class="nav navbar-nav navbar">
        <img src="../assets/image.png" style="width: 350px; height: 400px;">
        <h5>Bienvenue sur Simuleo</h5>
        <li routerLinkActive="active">
            <button type="button" class="btn btn-primary"
            ><a routerLink="auth/signup" style="color: antiquewhite;">Créer un compte</a>    
            </button>
            <button type="button" class="btn btn-warning">
              <a routerLink="auth/signin" style="color: black;">Se connecté</a>
            </button>
        </li>
      </ul>
    </div>
    </div>
  </nav>