<div style="margin-left: 26em;"> 
    <img src="../assets/image.png" style="width: 370px; height: 400px;">
<h5 style="color: black;">Je m'appelle Simulor,mon rôle c'est de<br> t'aider à simuler le rentra de ton projet </h5>
<div style="margin-left: -13em;">
<button type="button" class="btn btn-danger col-5" (click)="onMarche()" style="background-color: black;">Premiers pas</button>
<button type="button" class="btn btn-success col-5" (click)="onMarcher()"   style="background-color: black; margin-left: 2em;">Je passe !</button>
</div>
</div>