<div>
    <button type="button" class="btn btn-dark" (click)="moure()"> <-- retour au menu</button>
<div class="card text-white bg-primary mb-3" style="width: 18em;height: 15em;margin-top: 10em;">
    <div class="card-header" style="background-color: azure;color: black;">160K</div>
    <div class="card-body" style="background-color: black;">
      <h1 class="card-title">Coût acquisition</h1>
     
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="width: 18em;height: 15em;;margin-left: 20em; margin-top: -16em;">
    <div class="card-header" style="background-color: azure;color: black;">190K</div>
    <div class="card-body" style="background-color: black;">
        <h1 class="card-title">Financement</h1>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="width: 18em;height: 15em;;margin-left: 40em; margin-top: -16em;">
    <div class="card-header" style="background-color: azure;color: black;">160K</div>
    <div class="card-body" style="background-color: black;">
        <h1 class="card-title">Fiscalité</h1>
     
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="width: 18em;height: 15em;margin-top: 5em;">
    <div class="card-header" style="background-color: azure;color: black;">250K</div>
    <div class="card-body" style="background-color: black;">
        <h1 class="card-title">Revenus</h1>      
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="width: 18em;height: 15em;margin-left: 23em; margin-top: -16em;">
    <div class="card-header" style="background-color: azure;color: black;">160K</div>
    <div class="card-body" style="background-color: black;">
        <h1 class="card-title">Charges</h1>  
      </div>
  </div>
</div>