<button type="button" class="btn btn-dark" style="margin-top: -1;" (click)="retour()"><--retour au menu</button>
<div style="margin-top: 5em;">
<img src="../assets/image.png" style="width: 300px; height: 350px;margin-left: 28em;">
<div style="margin-left: 16em; margin-top: -10em;">
    <button type="button" class="btn btn-primary btn-lg" (click)="onMar()" style="background-color: black;">Nouveau projet</button>
</div>
<div style="margin-left: 48em; margin-top: -3em;">
    <button type="button" class="btn btn-secondary btn-lg" style="background-color: black;">Projet archivés</button>
</div>
<div>
    <button type="button" class="btn btn-success" 
    style="background-color: black; margin-top: 10em;margin-left: 33em;" (click)="onBord()" >Tableau de bord</button>
</div>
</div>
